
Our artifacts do not require advanced programmes to access or run them. They can be accessed using a simple PDF reader (e.g. Adobe Acrobat Reader), a code editor (e.g. Visual Studio Code), Microsoft Excel and a text editor.